.App {
  width: auto;
  background-color: #bfde42;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.home-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: blue;
  background-color: #44b4ca;
  flex-direction: column;
  align-items: center;
}

.data-table {
  width: 75% !important;
  height: 50%;
}

.name-cell {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

.title-image {
  margin: auto;
  width: 50%;
  margin-bottom: 15px;
}


text {
  font-size: .7em;
  fill: black;
}

rect {
  fill: #bfde42;
}

@media only screen and (max-width: 600px) {
  .title-image {
    width: 75%;
  }


  .home-page {
    width: 90%;
  }


text {
  font-size: .55em;
}

}





